.dashboardnav {
    background-color: #FBB117;
}

.bannerimg {
    height: 480px;
}

.detailbtn {
    background-color: #FBB117;
    text-decoration: none;
    color: black;
}

.detailitembtn {
    background-color: #FBB117;
    text-decoration: none;
    color: black;
}

